.wrapper {
  background-color: #ffffff;
  min-height: 1000px;
  min-width: 700px;
  padding: 36px 20px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.info__content {
}

.info__content-name {
}
